@media(min-width:1024px){
    html{
        font-family: "Noto Sans KR", sans-serif;
    }

    body.on{
        height: 100vh;overflow: hidden;
    }
    /* common style */
    
    .all{
        width: 100%;
    }
    .inner_content{
        width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    h1{font-size: 130px;font-weight: 900;}
    h2{font-size: 80px;font-weight: 700;}
    h3{font-size: 60px;font-weight: 700;}
    h5,p{font-size: 30px;font-weight: 500;}
    .blackColor{color: black;font-weight: bold;}

    .wrap::after{
        position: fixed;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(30px);
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease 0s;
    }
    .wrap.on::after{
        opacity: 1;
    }

    /* 상단 메뉴 */
    .headerWrap_tab,.mobileHeaderWrap{display: none;}
    .headerWrap{
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000;
    }
    .header{
        position: relative;
        transition: all 0.7s ease 0s;
        height: 60px;
        background: rgba(255, 255, 255, 0.7);
    }
    .header.on{
        position: absolute;
        width: 100%;
        height: 400px;
        left: 0;
        top: 0;
        background: rgb(250,250,252);
    }
    .mainIndex{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        width: 100px;
        height: 40px;
    }
    .logo a{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .gnb{
        display: flex;
        justify-content: space-around;
        width: 985px;
        position: relative;
        font-weight: 500;
        height: 60px;
    }
    .gnb>li{flex: 1;}
    .gnb>li>a{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        font-size: 13px;
        text-align: center;
    }
    .gnb>li>a:hover{color: #0071E3;}
 

    /* 2뎁스 메뉴 */
    .subMenu{
        width: 100%;
        position: absolute;
        left: 20px;
        top: 60px;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        opacity: 0;
        pointer-events: none;
        transition: all 0.7s ease 0s;
    }
    .subMenu.on{
        opacity: 1;
        pointer-events: auto;
    }
    .subMenu>li{margin-right: 100px;}
    .subMenu>li:last-of-type{margin-right: 0;}
    .productMenu{
        font-size: 25px;
        font-weight: 600;
    }
    .productMenu>li{padding: 8px 0;}
    .subMenu h6{
        color: #929292;
        padding: 8px 0 15px 0;
    }   
    .menuLink>li{margin-bottom: 7px;}
    .menuLink>li:last-of-type{margin-bottom: 0;}

    .search{
        width: 20px;
        height: 20px;
    }
    .search a{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
    }














}