@media(max-width:767px){
    html{
        font-family: "Noto Sans KR", sans-serif;
    }
    @font-face {
        font-family: 'dysonEng';
        src: url('../font/Dyson\ Sans\ Modern.ttf') format('truetype');
    }
    
    /* common style */
    .all{
        width: 100%;
    }
    .inner_content{
        width: 87%;
        margin: 0 auto;
        box-sizing: border-box;
    }
    h1{font-size: 35px;font-weight: 600;}
    h2{font-size: 20px;font-weight: 600;}
    h3{font-size: 24px;font-weight: 500;}
    h4{font-size: 25px;font-weight: 600;}
    h5{font-size: 18px;font-weight: 500;}
    .blackColor{color: black;font-weight: bold;}
    .whiteColor{color: #fff;}

        /* 상단 메뉴 */
    
   .headerWrap,.headerWrap_tab{display: none;}
   .header,.tabHeader{display: none;}


   .mobileHeaderWrap{
       z-index: 1000;
       background: #0f0f0f;
       position: fixed;
       width: 100%;
       left: 0;
       top: 0;
       height: 50px;
       display: flex;
       align-items: center;
       box-sizing: border-box;
   }
   .mobileHeader{width: 100%;}
   .mobileHeader>.inner_content{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   .mobileLogo>a{
       background: url(../img/logo_white.svg) no-repeat 50% 50% /contain;
       display: flex;
       align-items: cover;
       height: 32px;
       width: 90px;
   }
   .mo_menuOpen{
       display: block;
       width: 22px;
        height: 14px;
       background: url(../img/menu_bar_white.svg) no-repeat 50% 50% / cover;
   }


   /* 2뎁스 메뉴 */
   .mobile_mainIndex{
       position: fixed;
       height: 100%;
       width: 100%;
       right: 0;
       top: 0;
       background: #0f0f0f;
       color: #fff;
       box-sizing: border-box;
       padding: 15px;
       transform: translateX(100%);
       transition: all 0.7s ease 0s;
   }
   .mobile_mainIndex a:hover{
        color: #cecece;
   }
   .mobile_mainIndex.on{
       transform: translateX(0);
   }
   .mobileIndex_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
   }
   .mo_menuClose{
       display: block;
       margin-left: auto;
       width: 20px;
       height: 20px;
       background: url(../img/close_btn_white.svg) no-repeat 50% 50% / cover;
   }
   .mobileGnb{
       position: relative;
   }
   .mobileGnb>li{
       width: 175px;
       margin-bottom: 10px;
   }
  
   .mobileGnb>li:nth-of-type(6):after{display: none;}
   .mobileGnb>li>a{
       display: flex;
       height: 30px;
       align-items: center;
       font-size: 16px;
       font-weight: 600;
       width: 100%;
       position: relative;
   }
   .mobileGnb>li:hover:after{
       opacity: 1;
       pointer-events: auto;
   }
   .mobileGnb>li:hover>.subMenu_mobile{opacity: 1;}
   .mobileGnb>li:hover>.subMenu_mobile::before{opacity: 1;}
   .subMenu_mobile::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100% , 25%);
    width: 20px;
    height: 20px;
    background: url(../img/footer_arrow.svg) no-repeat 50% 50% / cover;
    opacity: 0;
    pointer-events: none;
    transition: all 0.7s ease 0s;
    }
   .subMenu_mobile{
       position: absolute;
       left: 50%;
       top: 0;
       opacity: 0;
       pointer-events: none;
       transition: all 0.7s ease 0s;
   }
   .mobileGnb>li:hover>.subMenu_mobile{
       opacity: 1;
       pointer-events: auto;
   }
   .subMenu_mobile>li>a{
       display: flex;
       align-items: center;
       height: 30px;
       font-size: 14px;
       font-weight: 500;
   }
   .mobileIndex_bottom{
        display: flex;
        margin-top: 30px;
   }
   .mobileIndex_bottom>ul:first-of-type{margin-right: 20px;}
   .menuLink_mobile{
       font-size: 14px;
       width: 40%;
   }
   .menuLink_mobile>h6{
       color: #929292;
       font-weight: 500;
       margin-bottom: 8px;
   }
   .menuLink_mobile>li{
       padding-bottom: 5px;
       font-weight: 500;
   }

  /* 1섹션 */
      .intro{
        width: 100%;
        height: 600px;
        overflow: hidden;
        position: relative;
        background: url(../img/intro_bg.jpg) no-repeat 30% 50% / cover;
    }
    .introVideo{
        display: none;
    }
    .introFrame{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .introFrame>h2{
        color: #149ECC;
        font-family: 'dysonEng';
        margin-bottom: 20px;
        font-size: 30px;
    }
    .introFrame>h4{
        color: #fff;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 600;
    }
    .btnFrame{
        display: flex;
        justify-content: space-between;
    }
    .btnFrame>a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        width: 110px;
        height: 30px;
        font-weight: 500;
        font-size: 14px;
        border-radius: 50px;
    }
    .showBtn_blue{
        color: #fff;
        background: #149ECC;
    }
    .shopBtn_blue{
        color: #149ECC;
        border: 1px solid #149ECC;
    }

    /* 2섹션 */
    .productSlide{
        margin: 80px 0;
    }
    .productSlide h4{margin-bottom: 20px;}
    .productStation.swiper{
        width: 100%;
        height: 420px;
    }
    .productTrain.swiper-wrapper{display: flex;}
    .productTrain.swiper-wrapper>li.swiper-slide{
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
    }
    .productTrain>li>a{
        display: block;
        width: 100%;
        height: 100%;
    }
    .productTrain>li>a>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.6);
        transition: all 1s ease 0s;
    }
    .productTrain>li:hover>a>img{
        transform: scale(1.1);
        filter: none;
    }
    .productTrain>li:hover>a>.txtFrame{display: none;}
    .productTrain>li>a>.txtFrame{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        color: #fff;
    }


    /* 3섹션 */
    .priceSlide{
        margin-bottom: 80px;
    }
    .priceSlide h4{
        margin-bottom: 30px;
    }
    .priceStation.swiper{
        width: 100%;
        height: 520px;
    }
    .priceTxt>h5{
        font-family: 'dysonEng';
        margin: 8px 0;
        font-size: 25px;
    }
    .priceTrain.swiper-wrapper>.swiper-slide{
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
    }
    .priceTrain.swiper-wrapper>.swiper-slide>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .priceTxt{
        position: absolute;
        left: 8%;
        top: 6%;
    }
    .boldTxt{
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .showBtn_black{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background: #000;
        border-radius: 50px;
        width: 100px;
        height: 30px;
        font-size: 14px;
    }
    .showBtn{
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        width: 100px;
        height: 30px;
        font-size: 14px;
    }
    .toolList{
        box-shadow: 5px 5px 15px #dfdfdf;
    }


    /* 4섹션 */
    .promotion{
        margin-bottom: 80px;
    }
    .promoSlide{
        margin-bottom: 50px;
    }
    .promotion h4{
        margin-bottom: 20px;
        font-size: 20px;
    }
    .promoStation{
        width: 100%;
    }
    .promoTrain>li{
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }
    .promoTrain>li:last-of-type{margin-bottom: 0;}
    .promoTrain>li>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }
    .promoTxt{
        position: absolute;
        left: 7%;
        top: 10%;
    }
    .promoTxt>p{
        font-weight: 500;
        margin-bottom: 20px;
        font-size: 14px;
    }
    .shopBtn_white{
        position: relative;
        font-weight: 500;
        font-size: 14px;
    }
    .shopBtn_white:hover{
        border-bottom: 1px solid #fff;
    }
    .shopBtn_white::after{
        content: "";
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-40%);
        width: 14px;
        height: 14px;
        color: #fff;
        background: url(../img/right_white.svg) no-repeat 50% 50% / contain;
    }
    .promoCtrl{
        display: none;
    }


    .eventBanner{
        width: 100%;
    }
    .eventList{
        width: 100%;
    }
    .eventList>li{
        width: 100%;
        height: 200px;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
    }
    .eventList>li>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .eventTxt{
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
    }
    .eventTxt>p{
        font-size: 14px;
        margin: 10px 0;
    }
    .shopBtn_black{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        border-radius: 50px;
        width: 100px;
        height: 30px;
        font-size: 14px;
        font-weight: 500;
        margin-top: 8px;
    }

    /* 구매 혜택 영역 */
    .shopInfo{
        box-sizing: border-box;
        width: 100%;
        display: grid;
        row-gap: 30px;
    }
    .shopInfo>li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .infoIcon{
        margin-bottom: 2s0px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
    }
    .infoIcon>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .infoFrame{text-align: center;}
    .infoTitle{
        font-size: 16px;
    }
    .infoTxt,.infoBtn{
        font-size: 14px;
        font-weight: 400;
    }
    .infoTxt{
        width: 210px;
        margin: 10px 0;
    }
    .infoBtn{
        margin-top: 10px;
        font-weight: 500;
        color: #0071E3;
        position: relative;
    }
    .infoBtn:hover{
        border-bottom: 1.5px solid #0071E3;
    }
    .infoBtn::after{
        content: "";
        width: 10px;
        height: 10px;
        background: url(../img/right_arrow.svg) no-repeat;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-40%);
    }


    /* footer 상단 */
    footer{
        margin-top: 80px;
        box-sizing: border-box;
        background: #F8F8F8;
        padding: 40px 0;
    }
    .footerTop{
        font-size: 14px;
    }
    .footCtg{
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-family: 'dysonEng';
    }
   
    .footMenu{
        padding: 30px 0;
        width: 100%;
        box-sizing: border-box;
    }
    .footMenu h6{
        font-weight: 500;
        margin: 15px 0 10px 0;
        cursor: pointer;
        padding-bottom: 5px;
        border-bottom: 1px solid #aaa;
        position: relative;
    }
    .footMenu h6::after{
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        right: 10px;
        top: 50%;
        transform: translateY(-40%);
        background: url(../img/arrow_down.png) no-repeat 50% 50% / cover;
    }
    .footMenu h6.open:after{
        background: url(../img/arrow_up.png) no-repeat 50% 50% / cover;
    }
    .footMenu>ul>li{
        padding: 5px 0;
        color: #4A4A4A;
        display: none;
    }
    .footMenu > ul.active > li {
        display: block; /* 활성화된 경우 표시 */
    }

    /* footer 하단 */
    .footerBottom{
        font-size: 12px;
        color: #4A4A4A;
    }
    .footInfo{
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        padding: 15px 0;
    }
    .footInfo_list>li{
        padding: 5px 0;
    }
    .footInfo_list>li:last-of-type{
        margin-right: 0;
    }
    .langBtn{
        color: #0071E3;
        width: 48px;
        height: 15px;
        position: relative;
        display: block;
        transform: translateX(-10px);
    }
    .langBtn::after{
        content: "";
        width: 10px;
        height: 10px;
        background: url(../img/right_arrow.svg) no-repeat;
        position: absolute;
        right: -13px;
        top: 50%;
        transform: translateY(-20%);
    }
    .footInfo2{
        margin-top: 30px;
    }
    .footInfo2>ul{flex: 1;}
    .footInfo2>ul>li{
        padding: 2px 0;
    }
    .infoCtg{
        font-weight: 500;
        margin-top: 15px;
    }
    .infoNumber{display: flex;}
    .infoNumber>p{
        margin-right: 20px;
        font-weight: 400;
    }
    .infoNumber>p:last-of-type{margin-right: 0;}













}