@media(min-width:768px) and (max-width:1023px){
    html{
        font-family: "Noto Sans KR", sans-serif;
    }
    @font-face {
        font-family: 'dysonEng';
        src: url('../font/Dyson\ Sans\ Modern.ttf') format('truetype');
    }

    /* common style */
    .all{
        width: 100%;
    }
    .inner_content{
        width: 90%;
        margin: 0 auto;
        box-sizing: border-box;
    }
    h1{font-size: 85px;font-weight: 800;}
    h2{font-size: 60px;font-weight: 700;}
    h3{font-size: 40px;font-weight: 600;}
    h4{font-size: 30px;font-weight: 600;}
    h5{font-size: 20px;font-weight: 500;}
    .blackColor{color: black;font-weight: bold;}
    .whiteColor{color: #fff;}

    /* 상단 메뉴 */
    
    .headerWrap,.mobileHeaderWrap{display: none;}
    .header{display: none;}
    
    .headerWrap_tab{
        z-index: 1000;
        background: #0f0f0f;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        height: 50px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }
    .tabHeader{width: 100%;}
    .tabHeader>.inner_content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .tabLogo>a{
        background: url(../img/logo_white.svg) no-repeat 50% 50% /contain;
        display: flex;
        align-items: cover;
        height: 40px;
        width: 110px;
    }
    .menuOpen{
        display: block;
        width: 26px;
        height: 18px;
        background: url(../img/menu_bar_white.svg) no-repeat 50% 50% / cover;
    }
 
 
    /* 2뎁스 메뉴 */
    .mainIndex_tab{
        position: fixed;
        height: 100vh;
        width: 100%;
        right: 0;
        top: 0;
        background: #0f0f0f;
        color: #fff;
        box-sizing: border-box;
        padding: 10px;
        transform: translateX(100%);
        transition: all 0.7s ease 0s;
    }
    .mainIndex_tab a:hover{
        color: #cecece;
    }
    .mainIndex_tab.on{
        transform: translateX(0);
    }
    .mainIndex_top{
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 40px;
    }
    .menuClose{
        display: block;
        margin-left: auto;
        width: 25px;
        height: 25px;
        background: url(../img/close_btn_white.svg) no-repeat 50% 50% / cover;
    }
 
    .tabGnb{
        margin-top: 25px;
        padding-left: 15px;
        position: relative;
     }
    .tabGnb>li{
        width: 270px;
        margin-bottom: 10px;
    }
 
    .tabGnb>li:nth-of-type(6):after{display: none;}
    .tabGnb>li>a{
        display: flex;
        height: 50px;
        align-items: center;
        font-size: 25px;
        font-weight: 600;
        width: 300px;
        position: relative;
    }
    .tabGnb>li:hover>.subMenu_tab::before{
        opacity: 1;
        pointer-events: auto;
    }
    .tabGnb>li:hover>.subMenu_tab{opacity: 1;}
    .subMenu_tab{
        position: absolute;
        left: 300px;
        top: 0;
        width: 500px;
    }
    .subMenu_tab::before{
         content: "";
         position: absolute;
         left: 0;
         top: 0;
         transform: translate(-100% , 25%);
         width: 30px;
         height: 30px;
         background: url(../img/footer_arrow.svg) no-repeat 50% 50% / cover;
         opacity: 1;
         pointer-events: none;
         transition: all 0.7s ease 0s;
     }
    .subMenu_tab{
        opacity: 0;
        pointer-events: none;
        transition: all 0.7s ease 0s;
    }
    .tabGnb>li:hover>.subMenu_tab{
        opacity: 1;
        pointer-events: auto;
    }
    .subMenu_tab>li>a{
        display: flex;
        align-items: center;
        height: 40px;
        font-size: 20px;
        font-weight: 500;
    }
    .mainIndex_bottom{
         display: flex;
         margin-top: 50px;
     }
     .mainIndex_bottom>ul{height: 250px;}
     .mainIndex_bottom>ul:first-of-type{margin-right: 30px;}
    .menuLink{
        padding-left: 15px;
        font-size: 16px;
    }
    .menuLink>h6{
        color: #929292;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .menuLink>li{
        padding-bottom: 5px;
        font-weight: 500;
    }
 

      /* 1섹션 */
      .intro{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .introVideo{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translate(-50%, -50%);
        z-index: -1;
        filter: brightness(0.4);
    }
    .intro>.inner_content{
        height: 100%;
        display: flex;
        align-items: flex-end;
        transform: translateY(-10%);
    }
    .introFrame>h2{
        color: #149ECC;
        font-family: 'dysonEng';
        margin-bottom: 20px;
    }
    .introFrame>h4{
        color: #fff;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 600;
    }
    .btnFrame{
        display: flex;
        width: 80%;
        justify-content: space-between;
    }
    .btnFrame>a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 40px;
        font-weight: 500;
        font-size: 18px;
        border-radius: 50px;
    }
    .showBtn_blue{
        color: #fff;
        background: #149ECC;
    }
    .shopBtn_blue{
        color: #149ECC;
        border: 1px solid #149ECC;
    }

    /* 2섹션 */
    .productSlide{
        margin: 80px 0;
    }
    .productSlide h4{margin-bottom: 30px;}
    .productStation.swiper{
        width: 100%;
        height: 420px;
    }
    .productTrain.swiper-wrapper{display: flex;}
    .productTrain.swiper-wrapper>li.swiper-slide{
        width: 300px;
        height: 400px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
    }
    .productTrain>li>a{
        display: block;
        width: 100%;
        height: 100%;
    }
    .productTrain>li>a>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.6);
        transition: all 1s ease 0s;
    }
    .productTrain>li:hover>a>img{
        transform: scale(1.1);
        filter: none;
    }
    .productTrain>li:hover>a>.txtFrame{display: none;}
    .productTrain>li>a>.txtFrame{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        color: #fff;
    }


    /* 3섹션 */
    .priceSlide{
        margin-bottom: 80px;
    }
    .priceSlide h4{
        margin-bottom: 30px;
    }
    .priceStation.swiper{
        width: 100%;
        height: 520px;
    }
    .priceTxt>h5{
        font-family: 'dysonEng';
        margin: 8px 0;
    }
    .priceTrain.swiper-wrapper>.swiper-slide{
        width: 400px;
        height: 500px;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
    }
    .priceTrain.swiper-wrapper>.swiper-slide>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .priceTxt{
        position: absolute;
        left: 8%;
        top: 6%;
    }
    .boldTxt{
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .showBtn_black{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background: #000;
        border-radius: 50px;
        width: 120px;
        height: 35px;
    }
    .showBtn{
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        width: 120px;
        height: 35px;
    }
    .toolList{
        box-shadow: 5px 5px 15px #dfdfdf;
    }


    /* 4섹션 */
    .promotion{
        margin-bottom: 80px;
    }
    .promoSlide{
        margin-bottom: 50px;
    }
    .promotion h4{
        margin-bottom: 30px;
    }
    .promoStation{
        width: 100%;
        height: 400px;
        overflow: hidden;
    }
    .promoTrain{
        width: 400%;
        height: 100%;
        display: flex;
        transition: all 1s ease 0s;
    }
    .promoTrain>li{
        border-radius: 25px;
        position: relative;
        overflow: hidden;
        width: 25%;
        height: 100%;
    }
    .promoTrain>li>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }
    .promoTxt{
        position: absolute;
        left: 7%;
        top: 10%;
    }
    .promoTxt>p{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .shopBtn_white{
        position: relative;
        font-size: 20px;
        font-weight: 500;
    }
    .shopBtn_white:hover{
        border-bottom: 1px solid #fff;
    }
    .shopBtn_white::after{
        content: "";
        position: absolute;
        right: -30px;
        top: 50%;
        transform: translateY(-40%);
        width: 17px;
        height: 17px;
        color: #fff;
        background: url(../img/right_white.svg) no-repeat 50% 50% / contain;
    }
    .promoCtrl{
        margin-left: auto;
        width: 110px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .prevBtn,.nextBtn{
        display: block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        
    }
    .prevBtn{
        background: url(../img/left.svg) no-repeat 50% 50% / cover;
    }
    .nextBtn{
        background: url(../img/right.svg) no-repeat 50% 50% / cover;
    }


    .eventBanner{
        width: 100%;
    }
    .eventList{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .eventList>li{
        width: 46%;
        height: 100%;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
    }
    .eventList>li>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .eventTxt{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }
    .eventFrame{
        display: flex;
        width: 75%;
        margin: 10px auto 0 auto;
        justify-content: space-around;
    }
    .shopBtn_black{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        border-radius: 50px;
        width: 120px;
        height: 35px;
        font-weight: 500;
    }

     /* 구매 혜택 영역 */
     .shopInfo{
        width: 100%;
        display: flex;
    }
    .shopInfo>li{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .infoIcon{
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95px;
        height: 95px;
    }
    .infoIcon>img{
        width: 75px;
        object-fit: cover;
    }
    .infoFrame{text-align: center;}
    .infoTitle{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .infoTxt,.infoBtn{
        font-size: 18px;
        font-weight: 400;
    }
    .infoTxt{
        width: 210px;
        margin-top: 10px;
    }
    .infoBtn{
        font-weight: 500;
        color: #0071E3;
        position: relative;
    }
    .infoBtn:hover{
        border-bottom: 1.5px solid #0071E3;
    }
    .infoBtn::after{
        content: "";
        width: 14px;
        height: 14px;
        background: url(../img/right_arrow.svg) no-repeat;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-40%);
    }


    /* footer 상단 */
    footer{
        margin-top: 80px;
        box-sizing: border-box;
        background: #F8F8F8;
        padding: 50px 0;
    }
    .footerTop{
        font-size: 18px;
        border-bottom: 1px solid #4A4A4A;
    }
    .footCtg{
        margin-bottom: 40px;
        font-family: 'dysonEng';
    }

    .footMenu{
        padding: 20px 0;
        display: flex;
        align-items: flex-start;
        width: 90%;
        justify-content: space-between;
    }
    .footMenu h6{
        font-weight: 500;
    }
    .footMenu li{
        padding: 8px 0;
        color: #4A4A4A;
    }

    /* footer 하단 */
    .footerBottom{
        font-size: 16px;
        color: #4A4A4A;
    }
    .footInfo{
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        padding: 15px 0;
    }
    .footInfo_list{
        display: flex;
    }
    .footInfo_list>li{
        margin-right: 25px;
    }
    .footInfo_list>li:last-of-type{
        margin-right: 0;
    }
    .langBtn{
        color: #0071E3;
        position: relative;
        transform: translateX(-10px);
    }
    .langBtn::after{
        content: "";
        width: 14px;
        height: 14px;
        background: url(../img/right_arrow.svg) no-repeat;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-40%);
    }
    .footInfo2{
        margin-top: 30px;
        display: flex;
    }
    .footInfo2>ul{margin-right: 50px;}
    .footInfo2>ul:last-of-type{margin-right: 0;}
    .footInfo2>ul>li{padding: 8px 0;}
    .infoCtg{font-weight: 500;}
    .infoNumber{display: flex;}
    .infoNumber>p{
        margin-right: 20px;
        font-size: 16px;
        font-weight: 400;
    }
    .infoNumber>p:last-of-type{margin-right: 0;}












}