@media(min-width:1024px){
    body.on{
        height: 100vh; 
        overflow: hidden;
    }
    /* common style */

    h1{font-size: 110px;font-weight: 900;}
    h2{font-size: 70px;font-weight: 700;}
    h3{font-size: 50px;font-weight: 700;}
    h5,p{font-size: 30px;font-weight: 500;}
    .blackColor{color: black;font-weight: bold;}


    


    /* 서브메뉴 */
    .subIndex{margin-top: 70px;}
    .subIndex .inner_content{
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #C9C9C9;
        box-sizing: border-box;
        padding-bottom: 8px;
    }
    .subCtg{
        font-weight: 600;
        padding-left: 10px;
    }
    .subLnb{
        display: flex;
        align-items: center;
    }
    .subLnb>li{
        margin-right: 35px;
    }
    .subLnb>li.on{
        color: #aaa;
    }
    .shopBtn{
        background: #0071E3;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 40px;
        border-radius: 40px;
    }
    .shopBtn:hover{filter: brightness(1.2);}

    /* 1섹션 다이슨존 인트로*/
    .intro{
        background: url(../img/bg_img.png) no-repeat 50% 30% / 80%;
        margin: 100px 0;
    }
    .intro>.inner_content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .introImg{
        width: 60%;
        object-fit: cover;
    }
    .dysonzoneIntro{
        text-align: center;
        margin-top: 35px;
    }
    

    /* 2섹션 */
    .design>p{
        padding-top: 35px;
    }
    .designContent{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .designContent .txtframe{
        width: 40%;
    }
    .designContent .txtframe>p{
        padding: 32px 0;
        color: #6D6D6D;
        transition: all 0.7s ease 0s;
        opacity: 0;
        transform: translateY(50px);
    }
    .designContent .txtframe>p.on{
        opacity: 1;
        transform: translateY(0);
    }
    
    .designContent img{
        width: 55%;
        height: 796px;
        object-fit: cover;
    }

    /* 3섹션 디자인 슬라이드 */
    .designSlide.building{
        width: 100%;
        height: 3000px;
        position: relative;
    }
    .designSlide_elv{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.5s ease-in-out;
        overflow: hidden;
    }
    .designSlide_elv.fixed{
        position: fixed;
        left: 0;
        top: 0;
    }
    .designSlide_elv.bottom{
        position: absolute;
        top: auto;
        bottom: 0;
    }
    .designSlide_bg{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        transform: scale(0.7);
    }
    .designStation{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 1200px;
        height: 100%;
    }
    .designTrain{
        width: 100%;
        height: 300%;
        /* transition: transform 0.5s ease; */

    }
    .designTrain>li{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 33.333%;
    }


    /* 4섹션 공통 */
    .product>section{
        display: flex;
        justify-content: space-around;
    }
    .product h3{
        margin-bottom: 50px
    }
    .product .txtframe p{
        color: #6D6D6D;
    }

    /* 4섹션 프로토타입*/
    .prototype{
        align-items: center;
        margin: 60px 0;
    }
    .prototype>.txtframe>p{
        width: 385px;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.7s ease 0s;
    }
    .prototype>.txtframe>p.on{
        opacity: 1;
        transform: translateY(0);
    }
    .prototype>img{
        width: 600px;
        height: 805px;
        object-fit: cover;
    }



    /* 4섹션 휴대용 바이저*/
    .visor{
        align-items: flex-end;
        transform: translateX(-30px);
    }
    .visorImg{
        width: 610px;
        transform: translateX(-70px);
    }
    .visor>.txtframe{width: 580px;}
    .visor>.txtframe>p{
        margin-bottom: 50px;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.7s ease 0s;
    }
    .visor>.txtframe>p.on{
        transform: translateY(0);
        opacity: 1;
    }

    /* 5섹션 */
    .sound{background: #000;}
    .sound .titleFrame{
        color: #fff;
        margin-bottom: 100px;
    }
    .titleFrame>p{padding-top: 100px;}
    .sound .titleFrame>.txtframe{
        width: 48%;
        margin-left: auto;
        margin-top: 50px;
    }
    .titleFrame>.txtframe p{
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.7s ease 0s;
    }
    .titleFrame>.txtframe p.on{
        opacity: 1;
        transform: translateY(0);
    }
    .audioBuilding_tab,.audioBuilding_mobile{display: none;}
    .audioBuilding{
        width: 100%;
        height: 4000px;
        position: relative;
    }
    .audioElv{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
    }
    .audioElv.fixed{
        position: fixed;
        left: 0;
        top: 0;
    }
    .audioElv.bottom{
        position: absolute;
        top: auto;
        bottom: 0;
    }
    .headphoneFrame {
        width: 60%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .headphoneImg{
        object-fit: contain;
        width:100%;
    }
    .soundImg {
        width: 55%;
        height: auto;
        object-fit: cover;
        position: absolute;
        left: 22%;
        bottom: 5%;
        opacity: 0;
    }
    .soundtxtStation{
        width: 30%;
        height: 290px;
        position: absolute;
        right: 10%;
        bottom: 15%;
        overflow: hidden;
        padding-top: 150px;
        display: none;
    }
    .soundtxtStation.on{
        display: block;
    }
    .soundtxtStation:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 120px;
        background: linear-gradient(180deg, black, #0000004f);
        z-index: 20;
    }
    .soundtxtTrain{
        width: 100%;

    }
    .soundtxtTrain>li{
        margin-bottom:120px;
    }
    .soundtxtTrain>li:last-of-type{margin-bottom:0}
    .soundtxtTrain>li>h5{
        color: #fff;
        margin-bottom: 20px;
    }
    .soundtxtTrain>li>p{
        color: rgba(255, 255, 255, 0.7);
    }


    /* 배터리 영역 */
    .battery{
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        margin: 300px 0;
    }
    .subFrame>h3{
        margin-right: auto;
        color: #fff;
        text-align: center;
        margin-bottom: 30px;
    }
    .batterytxtStation{
        color: #fff;
    }

    .batterytxtTrain>li{
        text-align: center;
        margin-bottom: 70px;
        transform: translateY(50px);
        opacity: 0;
        transition: all 0.7s ease 0s;
    }
    .batterytxtTrain>li.on{
        opacity: 1;
        transform: translateY(0);
    }
    .batterytxtTrain>li:last-of-type{
        margin-bottom: 0;
    }


    /* 노이즈캔슬링 영역 */
    .noiseCancelling{
        display: flex;
        justify-content: space-around;
    }
    .noiseCancelling>.txtframe{
        width: 315px;
        color: rgba(255, 255, 255, 0.7);
    }
    .noiseCancelling>.txtframe>p{
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.7s ease 0s;
    }
    .noiseCancelling>.txtframe>p.on{
        opacity: 1;
        transform: translateY(0);
    }
    .whiteColor{color: #fff;}
    .noiseImgframe{
        width: 780px;
        height: 600px;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        transform: translateX(-80px);
    }
    .noiseImg{
        width: 720px;
        z-index: 100;
    }
    .noiseEffect{
        width: 735px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.7s ease 0s;
    }
    .noiseEffect.on{
        transform: translateY(0);
        opacity: 1;
    }




    /* 다이슨 어플 탭메뉴 영역 */
    .mydysonApp_tablet{display: none;}
    .mydysonApp{margin-bottom: 100px;}
    .mydysonApp>h1{
        padding: 60px 0 120px 0;
    }

    .mydysonTab{
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;
        justify-content: space-around;
        background: #F8F8F8;
        border-radius: 50px;
        width: 100%;
        height: 640px;
    }
    .tabImgStation{
        width: 450px;
        height: 490px;
    }
    .tabImgTrain{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .tabImgTrain>li{
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.7s ease 0s;
        opacity: 0;
        pointer-events: none;
    }
    .tabImgTrain>li.on{
        opacity: 1;
        pointer-events: auto;
    }

    .tabTitle{
        font-size: 36px;
        font-weight: 600;
        border-bottom: 1px solid #6D6D6D;
        width: 450px;
        position: relative;
        cursor: pointer;
        padding: 25px 0;
    }
    .tabTitle::after {
        content: '';
        background-image: url(../img/arrow_down.png);
        background-size: cover;
        width: 25px;
        height: 30px;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-40%);
        cursor: pointer;
        
    }
    .tabTitle.open::after {
        background-image: url(../img/arrow_up.png); 
    }
    .tabTxt{
        width: 450px;
        font-size: 24px;
        font-weight: 400;
        color: #6D6D6D; 
        height: 0;
        overflow: hidden;
        transition: all 0.7s ease 0s;
    }
    .tabTxt.on{height: 150px;}

    /* 제품 구매, 컨텐츠, 등록 영역 */
    .subContents{margin: 100px 0;}
    .subContents>section{
        margin: 20px auto;
        width: 90%;
        height: 580px;
        background: #F8F8F8;
    }
    .subContents .inner_content{
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0px 60px;
    }
    .subContents .inner_content h2 , .subContents .inner_content p{margin-bottom: 45px;}
    .subContents_btn{
        color: #0071E3;
        font-size: 25px;
        font-weight: 500;
        position: relative;
        cursor: pointer;
    }
    .subContents_btn:hover{
        border-bottom: 1.5px solid #0071E3;
    }
    .subContents_btn::after{
        content: "";
        width: 16px;
        height: 16px;
        background: url(../img/right_arrow.svg) no-repeat;
        position: absolute;
        right: -30px;
        top: 50%;
        transform: translateY(-40%);
    }
    .contentTxtframe>p{
        width: 350px;
    }
    .subImg{
        width: 45%;
        object-fit: cover;
    }

    /* ---------------컨텐츠 팝업---------------- */
    .modal{
        background: rgba(0, 0, 0, 0.9);
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 100;
        display: none;
    }
    .modal.on ,.contentPopup.on{display: block;}
    .contentPopup{
        display: none;
        z-index: 1000;
        position: fixed;
        width: 100%;
        height: 785px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .popupFrame{
        box-sizing: border-box;
        padding: 0 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .popupTitle{
        box-sizing: border-box;
        padding: 0 10px;
        color: #fff;
        width: 580px;
    }
    .popupTitle>p{
        margin-top: 30px;
    }
    .popupStation.swiper{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 785px;
    }
    .popup_close{
        position: absolute;
        right: 2%;
        top: 65px;
        transform: translateX(10%);
        z-index: 800;
        cursor: pointer;
    }
    .popupTrain.swiper-wrapper{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .popupTrain.swiper-wrapper>li{
        overflow: hidden;
        border-radius: 45px;
        transition: all 1s ease 0s;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .popupTrain.swiper-wrapper>li p{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        opacity: 0;
        pointer-events: none;
        transition: all 0.7s ease 0s;    
    }

    .popupTrain.swiper-wrapper>li:hover{
        transform: scale(1.1);
    }
    .popupTrain.swiper-wrapper>li:hover p{
        opacity: 1;
        pointer-events: auto;
    }
    .popupTrain.swiper-wrapper>li:hover img{
        filter: brightness(0.5);
    }


    /* ------------------------------------- */
    .support{
        position: relative;
    }
    .supportTxtframe{
        padding-left: 80px;
        width: 500px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .supportImg{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        object-fit: cover;
    }

    
    
    /* 구매 혜택 영역 */
    .shopInfo{
        width: 100%;
        display: flex;
    }
    .shopInfo>li{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .infoIcon{
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95px;
        height: 95px;
    }
    .infoIcon>img{
        width: 75px;
        object-fit: cover;
    }
    .infoFrame{text-align: center;}
    .infoTitle{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .infoTxt,.infoBtn{
        font-size: 18px;
        font-weight: 400;
    }
    .infoTxt{
        width: 210px;
        margin-top: 10px;
    }
    .infoBtn{
        font-weight: 500;
        color: #0071E3;
        position: relative;
    }
    .infoBtn:hover{
        border-bottom: 1.5px solid #0071E3;
    }
    .infoBtn::after{
        content: "";
        width: 14px;
        height: 14px;
        background: url(../img/right_arrow.svg) no-repeat;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-40%);
    }

    




}
