@media(min-width:768px) and (max-width:1023px){
  
    body.on{
        height: 100vh;overflow: hidden;
    }
    /* common style */
   
    h1{font-size: 85px;font-weight: 800;}
    h2{font-size: 60px;font-weight: 700;}
    h3{font-size: 40px;font-weight: 600;}
    h5,p{font-size: 20px;font-weight: 500;}
    .blackColor{color: black;font-weight: bold;}

   


    /* 서브메뉴 */
    .subIndex{margin-top: 50px;}
    .subIndex>.inner_content{
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #C9C9C9;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .subCtg{
        font-weight: 600;
        padding-left: 10px;
    }
    .subLnb{
        display: flex;
        align-items: center;
    }
    .subLnb>li{
        margin-right: 25px;
    }
    .subLnb>li.on{
        color: #aaa;
    }
    .shopBtn{
        background: #0071E3;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 30px;
        border-radius: 80px;
    }
    .shopBtn:hover{filter: brightness(1.2);}

    /* 1섹션 다이슨존 인트로*/
    .intro{
        background: url(../img/bg_img.png) no-repeat 50% 28% / 800px;
        margin: 60px 0 100px 0;
    }
    .intro>.inner_content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .introImg{
        width: 80%;
        object-fit: cover;
    }
    .dysonzoneIntro{
        text-align: center;
        margin-top: 20px;
    }
    

    /* 2섹션 */
    .design>p{
        padding: 20px 0;
    }
    .designContent{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .designContent .txtframe{
        width: 408px;
    }
    .designContent .txtframe>p{
        padding: 15px 0;
        color: #6D6D6D;
        transition: all 0.7s ease 0s;
        opacity: 0;
        transform: translateY(50px);
    }
    .designContent .txtframe>p.on{
        opacity: 1;
        transform: translateY(0);
    }
    .designContent img{
        width: 460px;
        height: 450px;
        object-fit: cover;
    }

    /* 3섹션 디자인 슬라이드 */
    .designSlide.building{
        width: 100%;
        height: 9000px;
        position: relative;
    }
    .designSlide_elv{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.5s ease-in-out;
        overflow: hidden;
    }
    .designSlide_elv.fixed{
        position: fixed;
        left: 0;
        top: 0;
    }
    .designSlide_elv.bottom{
        position: absolute;
        top: auto;
        bottom: 0;
    }
    .designSlide_bg{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        transform: scale(0.7);
    }
    .designStation{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 1200px;
        height: 100%;
    }
    .designTrain{
        width: 100%;
        height: 300%;
        /* transition: transform 0.5s ease; */

    }
    .designTrain>li{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 33.333%;
    }


    /* 4섹션 공통 */
    .product>section{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .product h3{
        margin-bottom: 20px
    }
    .product .txtframe p{
        color: #6D6D6D;
    }

    /* 4섹션 프로토타입*/
    .prototype{
        align-items: center;
        margin: 60px 0;
    }
    .prototype>.txtframe>p{
        width: 300px;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.7s ease 0s;
    }
    .prototype>.txtframe>p.on{
        opacity: 1;
        transform: translateY(0);
    }
    .prototype>img{
        width: 350px;
        height: 500px;
        object-fit: cover;
    }



    /* 4섹션 휴대용 바이저*/
    .visor{
        align-items: flex-end;
        transform: translateX(-60px);
    }
    .visorImg{
        width: 300px;
        transform: translateX(-10px);
    }
    .visor>.txtframe>p{
        margin-bottom: 30px;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.7s ease 0s;
    }
    .visor>.txtframe>p.on{
        transform: translateY(0);
        opacity: 1;
    }

    /* 5섹션 */
    .sound{background: #000;}
    .sound .titleFrame{color: #fff;}
    .titleFrame>p{padding: 35px 0 10px 0;}
    .sound .titleFrame>.txtframe{
        width: 460px;
        margin-left: auto;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .titleFrame>.txtframe p{
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.7s ease 0s;
    }
    .titleFrame>.txtframe p.on{
        opacity: 1;
        transform: translateY(0);
    }
    .audioBuilding,.audioBuilding_mobile{display: none;}
    .audioBuilding_tab{
        width: 100%;
        height: 8000px;
        position: relative;
    }
    .audioElv_tab{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
    }
    .audioElv_tab.fixed{
        position: fixed;
        left: 0;
        top: 0;
    }
    .audioElv_tab.bottom{
        position: absolute;
        top: auto;
        bottom: 0;
    }
    .headphoneFrame_tab{
        width: 720px;
        height: 100vh;
        position: absolute;
        left: calc(50% - 360px);
        top: calc(50% - 50vh);
    }
    .headphoneImg_tab{
        object-fit: contain;
        width:100%;
        height:100%;
    }
    .soundImg_tab{
        width: 440px;
        height: auto;
        object-fit: cover;
        position: absolute;
        left: 140px;
        bottom: 40px;
        opacity: 0;
    }
    .soundtxtStation_tab{
        width: 300px;
        height: 280px;
        box-sizing: border-box;
        position: absolute;
        right: 0;
        bottom: 0px;
        padding-top: 50px;
        overflow: hidden;
        opacity: 0;
    }
    .soundtxtStation_tab.on{opacity: 1;}

    .soundtxtTrain_tab{
        width: 100%;

    }
    .soundtxtTrain_tab>li{
        margin-bottom:80px;
    }
    .soundtxtTrain_tab>li:last-of-type{margin-bottom:0}
    .soundtxtTrain_tab>li>h5{
        color: #fff;
        margin-bottom: 20px;
    }
    .soundtxtTrain_tab>li>p{
        color: rgba(255, 255, 255, 0.7);
    }


    /* 배터리 영역 */
    .battery{
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        margin: 150px 0;
    }
    .subFrame>h3{
        margin-right: auto;
        color: #fff;
        text-align: center;
        margin-bottom: 30px;
    }
    .batterytxtStation{
        color: #fff;
    }

    .batterytxtTrain>li{
        text-align: center;
        margin-bottom: 70px;
        transform: translateY(50px);
        opacity: 0;
        transition: all 0.7s ease 0s;
    }
    .batterytxtTrain>li.on{
        opacity: 1;
        transform: translateY(0);
    }
    .batterytxtTrain>li:last-of-type{
        margin-bottom: 0;
    }
    .batteryImg{
        width: 430px;
    }

    /* 노이즈캔슬링 영역 */
    .noiseCancelling>.txtframe{
        width: 315px;
        color: rgba(255, 255, 255, 0.7);
    }
    .noiseCancelling>.txtframe>p{
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.7s ease 0s;
    }
    .noiseCancelling>.txtframe>p.on{
        opacity: 1;
        transform: translateY(0);
    }
    .whiteColor{color: #fff;}
    .noiseImgframe{
        width: 580px;
        height: 480px;
        position: relative;
        display: flex;
        align-items: flex-end;
        transform: translateX(70px);
    }
    .noiseImg{
        width: 570px;
        z-index: 100;
        transform: translateX(30px);
    }
    .noiseEffect{
        width: 520px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.7s ease 0s;
    }
    .noiseEffect.on{
        transform: translateY(0);
        opacity: 1;
    }




    /* 다이슨 어플 탭메뉴 영역 */
    .mydysonApp{display: none;}
    .mydysonApp_tablet>h1{
        padding: 80px 0;
    }
    .mydysonTabMenu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 10px;
        background: #F8F8F8;
        border-radius: 50px;
        width: 100%;
        height: 550px;
    }
    .mydysonTab_img{
        width: 200px;
        height: 230px;
    }
    .tab_title{
        font-size: 25px;
        font-weight: 600;
        border-bottom: 1px solid #6D6D6D;
        width: 450px;
        position: relative;
        cursor: pointer;
        padding: 25px 0;
    }
    .tab_title::after {
        content: '';
        background-image: url(../img/arrow_down.png);
        background-size: cover;
        width: 20px;
        height: 25px;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-40%);
        cursor: pointer;
    }
    .tab_title.open::after {
        background-image: url(../img/arrow_up.png); 
    }
    .tabFrame{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 450px;
        font-size: 16px;
        font-weight: 400;
        color: #6D6D6D; 
        height: 0;
        overflow: hidden;
        transition: all 0.7s ease 0s;
    }
    .tabFrame>p{
        width: 200px;
    }
    .tabFrame.on{height: 240px;}

    /* 제품 구매, 컨텐츠, 등록 영역 */
    .subContents{margin: 100px 0;}
    .subContents>section{
        margin: 10px auto;
        width: 90%;
        height: 400px;
        background: #F8F8F8;
    }
    .subContents>section h2{font-size: 50px;}
    .subContents>section img{width: 280px;}
    .subContents .inner_content{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .subContents .inner_content h2 , .subContents .inner_content p{margin-bottom: 20px;}
    .subContents_btn{
        color: #0071E3;
        font-size: 20px;
        font-weight: 500;
        position: relative;
        cursor: pointer;
    }
    .shopTxtframe{width: 300px;}
    .subContents_btn:hover{
        border-bottom: 1.5px solid #0071E3;
    }
    .subContents_btn::after{
        content: "";
        width: 12px;
        height: 12px;
        background: url(../img/right_arrow.svg) no-repeat;
        position: absolute;
        right: -30px;
        top: 50%;
        transform: translateY(-40%);
    }
    .contentTxtframe>p{
        width: 280px;
    }


    /* ---------------컨텐츠 팝업---------------- */
    .modal{
        background: rgba(0, 0, 0, 0.9);
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2000;
        display: none;
    }
    .modal.on , .contentPopup.on{display: block;}
    .contentPopup{
        z-index: 2500;
        position: fixed;
        width: 100%;
        height: 785px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: none;
    }
    .popupFrame{
        box-sizing: border-box;
        padding: 0 25px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .popupTitle{
        box-sizing: border-box;
        padding: 0 10px;
        color: #fff;
        width: 580px;
    }
    .popupTitle>p{
        margin-top: 30px;
    }
    .popupStation.swiper{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 820px;
    }
    .popup_close{
        position: absolute;
        right: 50px;
        top: 75px;
        z-index: 800;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    .popupTrain.swiper-wrapper{
        display: flex;
        align-items: center;
    }
    .popupTrain.swiper-wrapper>li{
        overflow: hidden;
        transition: all 1s ease 0s;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 100%;
    }
    .popupTrain.swiper-wrapper>li p{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        opacity: 0;
        pointer-events: none;
        transition: all 0.7s ease 0s;    
    }

    .popupTrain.swiper-wrapper>li:hover{
        transform: scale(1.1);
    }
    .popupTrain.swiper-wrapper>li:hover p{
        opacity: 1;
        pointer-events: auto;
    }
    .popupTrain.swiper-wrapper>li:hover img{
        filter: brightness(0.5);
    }


    /* ------------------------------------- */
    .support{
        position: relative;
    }
    .supportTxtframe>p{
        width: 330px;
    }
    .supportImg{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
    }

    
    
    /* 구매 혜택 영역 */
    .shopInfo{
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 60px;
    }
    .shopInfo>li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .infoIcon{
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 55px;
    }
    .infoIcon>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .infoFrame{text-align: center;}
    .infoTitle{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .infoTxt,.infoBtn{
        font-size: 18px;
        font-weight: 400;
    }
    .infoTxt{
        width: 210px;
        margin-top: 10px;
    }
    .infoBtn{
        font-weight: 500;
        color: #0071E3;
        position: relative;
    }
    .infoBtn:hover{
        border-bottom: 1.5px solid #0071E3;
    }
    .infoBtn::after{
        content: "";
        width: 14px;
        height: 14px;
        background: url(../img/right_arrow.svg) no-repeat;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-40%);
    }










}
