@media(max-width:767px){
   
    
    body.on{
        height: 100vh;overflow: hidden;
    }
    /* common style */
    
    h1{font-size: 35px;font-weight: 600;}
    h2{font-size: 20px;font-weight: 600;}
    h3{font-size: 22px;font-weight: 500;}
    h5,p{font-size: 14px;font-weight: 500;}
    .blackColor{color: black;font-weight: bold;}

   

    /* 서브메뉴 */
    .subIndex{margin-top: 60px;}
    .subIndex>.inner_content{
        font-size: 12px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #C9C9C9;
        box-sizing: border-box;
        padding: 5px 0;
    }
    .subCtg{
        font-weight: 600;
        padding-left: 10px;
    }
    .subLnb{
        display: flex;
        align-items: center;
    }
    .subLnb>li{
        display: none;
    }
    .subLnb>li:last-of-type{display: block;}
    .shopBtn{
        display: flex;
        align-items: center;
        padding: 3px 12px;
        background: #0071E3;
        border-radius: 80px;
        color: #fff;
    }


    /* 1섹션 다이슨존 인트로*/
    .intro{
        margin: 25px 0 40px 0;
    }
    .intro>.inner_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

    }
    .introImg{
        width: 60%;
        object-fit: cover;
    }
    .dysonzoneIntro::before{
        content: "";
        position: absolute;
        width: 90%;
        background: url(../img/bg_img.png) no-repeat 50% 50% / contain;
        margin: 0 auto;
        height: 50px;
        left: 50%;
        top: -50px;
        transform: translateX(-50%);

    }
    .dysonzoneIntro{
        position: relative;
        text-align: center;
        margin-top: 70px;
    }
    

    /* 2섹션 */
    .designContent .txtframe{
        width: 70%;
    }
    .designContent .txtframe>p{
        padding-top: 15px;
        color: #6D6D6D;
    }
    .designContent img{
        display: block;
        width: 70%;
        margin-left: auto;
    }

    /* 3섹션 디자인 슬라이드 */
    .designSlide.building{
        width: 100%;
        height: 4500px;
        position: relative;
    }
    .designSlide_elv{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.5s ease-in-out;
        overflow: hidden;
    }
    .designSlide_elv.fixed{
        position: fixed;
        left: 0;
        top: 0;
    }
    .designSlide_elv.bottom{
        position: absolute;
        top: auto;
        bottom: 0;
    }
    .designSlide_bg{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        transform: scale(0.7);
    }
    .designStation{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
        height: 100%;
    }
    .designTrain{
        width: 100%;
        height: 300%;

    }
    .designTrain>li{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 33.333%;
    }


    /* 4섹션 공통 */
    .product>section{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product h3{margin-bottom: 15px}
    .product .txtframe p{color: #6D6D6D;}

    /* 4섹션 프로토타입*/
    .prototype{
        align-items: center;
        margin-top: 30px;
    }
    .prototype>.txtframe>p{
        width: 250px;
    }
    .prototype>img{
        margin: 20px auto;
        width: 90%;
        height: 420px;
        object-fit: cover;
    }



    /* 4섹션 휴대용 바이저*/
    .visorImg{display: none;}
    .visor>.txtframe{width: 250px;}
    .visor>.txtframe>p{margin-bottom: 20px;}


    /* 5섹션 */
    .sound{background: #000;}
    .sound .titleFrame{color: #fff;}
    .titleFrame>p{padding: 35px 0 10px 0;}
    .sound .titleFrame>.txtframe{
        width: 70%;
        margin-left: auto;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .titleFrame>.txtframe p{
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.7s ease 0s;
    }
    .titleFrame>.txtframe p.on{
        opacity: 1;
        transform: translateY(0);
    }
    .audioBuilding,.audioBuilding_tab{display: none;}
    .headphoneFrame_mobile{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .headphoneImg_mobile{
        object-fit: contain;
        width:90%;
        margin: 0 auto;
    }
    .soundImg_mobile{
        width: 50%;
        height: auto;
        object-fit: cover;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        opacity: 0;
        transition: all 0.7s ease 0s;
    }
    .soundImg_mobile.on{
        opacity: 1;
        transform: translate(-50%, 0);
    }
    .soundtxtTrain_mobile{
        color: #fff;
        width: 70%;
        margin: 0 auto;
    
    }
    .soundtxtTrain_mobile>li{
        margin-bottom: 30px;
    }
    .soundtxtTrain_mobile>li>p{
        color: rgba(255, 255, 255, 0.7);
    }

    /* 배터리 영역 */
    .battery{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 100px 0;
    }
    .subFrame{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subFrame>h3{
        color: #fff;
        text-align: center;
        margin-bottom: 35px;
    }
    .batterytxtStation{
        margin-top: 30px;
        color: #fff;
    }
    .batterytxtTrain>li{
        text-align: center;
        margin-bottom: 20px;
        transform: translateY(50px);
        opacity: 0;
        transition: all 0.7s ease 0s;
    }
    .batterytxtTrain>li.on{
        opacity: 1;
        transform: translateY(0);
    }
    .batterytxtTrain>li:last-of-type{margin-bottom: 0;}
    .batteryImg{
        width: 90%;
    }

    /* 노이즈캔슬링 영역 */
    .noiseCancelling{margin-top: 50px;}
    .noiseCancelling>.txtframe{
        width: 190px;
        color: rgba(255, 255, 255, 0.7);
        transform: translateX(50px);
    }
    .noiseCancelling>.txtframe>p{
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.7s ease 0s;
    }
    .noiseCancelling>.txtframe>p.on{
        opacity: 1;
        transform: translateY(0);
    }
    .whiteColor{color: #fff;}
    .noiseImgframe{
        width: 100%;
        height: 200px;
        position: relative;
        display: flex;
        align-items: flex-end;
    }
    .noiseImg{
        margin: 0 auto;
        display: block;
        width: 70%;
        z-index: 100;
    }
    .noiseEffect{
        margin: 0 auto;
        display: block;
        width: 80%;
        position: absolute;
        top: 0;
        left: 35%;
        opacity: 0;
        transform: translate(-35%,0);
        transition: all 0.7s ease 0s;
    }
    .noiseEffect.on{
        transform: translate(-35%,-10%);
        opacity: 1;
    }




    /* 다이슨 어플 탭메뉴 영역 */
    .mydysonApp{display: none;}
    .mydysonApp_tablet>h1{
        padding: 50px 0;
    }
    .mydysonTabMenu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 10px;
        background: #F8F8F8;
        border-radius: 15px;
        width: 100%;
    }
    .mydysonTabList{width: 100%;}
    .mydysonTab_img{
        width: 200px;
        height: 230px;
    }
    .tab_title{
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid #6D6D6D;
        width: 100%;
        position: relative;
        cursor: pointer;
        padding: 12px 0;
        margin-bottom: 10px;
    }
    .tab_title::after {
        content: '';
        background-image: url(../img/arrow_down.png);
        background-size: cover;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-40%);
        cursor: pointer;
    }
    .tab_title.open::after {
        background-image: url(../img/arrow_up.png); 
    }
    .tabFrame{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        color: #6D6D6D;
        height: 0;
        overflow: hidden;
        transition: all 0.7s ease 0s;
    }
    .tabFrame.on{height: 320px;}

    /* 제품 구매, 컨텐츠, 등록 영역 */
    .subContents{margin: 100px 0;}
    .subContents>section{
        margin: 10px auto;
        width: 90%;
        height: 400px;
        background: #F8F8F8;
        box-sizing: border-box;
    }
    .subContents>section h2{font-size: 30px;}
    .subContents>section img{
        width: 200px;
        margin-top: 20px;
    }
    .subContents .inner_content{
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .subContents .inner_content h2 , .subContents .inner_content p{margin-bottom: 10px;}
    .subContents_btn{
        color: #0071E3;
        font-size: 15px;
        font-weight: 500;
        position: relative;
        cursor: pointer;
    }
    .subContents_btn:hover{
        border-bottom: 1.5px solid #0071E3;
    }
    .subContents_btn::after{
        content: "";
        width: 10px;
        height: 10px;
        background: url(../img/right_arrow.svg) no-repeat;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-40%);
    }

    .contentTxtframe>p{
        width: 200px;
    }
    .supportTxtframe{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 210px;
    }
    .supportTxtframe>p{
        width: 230px;
    }
    .supportImg{display: none;}


    /* ---------------컨텐츠 팝업---------------- */
    .modal{
        background: rgba(0, 0, 0, 0.9);
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2000;
        display: none;
    }
    .modal.on{display: block;}
    .contentPopup{
        text-align: center;
        z-index: 2000;
        position: fixed;
        width: 100%;
        height: 785px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        align-items: center;
        opacity: 0;
        pointer-events: none;
    }
    .contentPopup.on{opacity: 1;pointer-events: auto;}
    .popupStation.swiper{
        position: relative;
        display: flex;
        align-items: center;
        width: 90%;
        height: 700px;
    }
    .popupFrame{
        box-sizing: border-box;
        padding: 0 50px;
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .popupTitle{
        box-sizing: border-box;
        padding: 0 10px;
        color: #fff;
        width: 250px;
    }
    .popupTitle>p{
        margin-top: 30px;
    }
    .popup_close{
        position: absolute;
        right: 25px;
        top: 60px;
        z-index: 800;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    .popupTrain.swiper-wrapper{
        display: flex;
        align-items: center;
        width: 360%;
        height: 490px;
    }
    .popupTrain.swiper-wrapper>li{
        overflow: hidden;
        transition: all 1s ease 0s;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 100%;
        flex: 1;
    }
    .popupTrain.swiper-wrapper>li p{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        color: #fff;
        font-size: 25px;
        font-weight: 600;
        opacity: 0;
        pointer-events: none;
        transition: all 0.7s ease 0s;    
    }

    .popupTrain.swiper-wrapper>li:hover{
        transform: scale(1.1);
    }
    .popupTrain.swiper-wrapper>li:hover p{
        opacity: 1;
        pointer-events: auto;
    }
    .popupTrain.swiper-wrapper>li:hover img{
        filter: brightness(0.5);
    }


    /* ------------------------------------- */
    

    
    
      /* 구매 혜택 영역 */
      .shopInfo{
        box-sizing: border-box;
        width: 100%;
        display: grid;
        row-gap: 30px;
    }
    .shopInfo>li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .infoIcon{
        margin-bottom: 2s0px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
    }
    .infoIcon>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .infoFrame{text-align: center;}
    .infoTitle{
        font-size: 16px;
    }
    .infoTxt,.infoBtn{
        font-size: 14px;
        font-weight: 400;
    }
    .infoTxt{
        width: 210px;
        margin: 10px 0;
    }
    .infoBtn{
        margin-top: 10px;
        font-weight: 500;
        color: #0071E3;
        position: relative;
    }
    .infoBtn:hover{
        border-bottom: 1.5px solid #0071E3;
    }
    .infoBtn::after{
        content: "";
        width: 10px;
        height: 10px;
        background: url(../img/right_arrow.svg) no-repeat;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-40%);
    }


  
















}
