@media(min-width:768px) and (max-width:1023px){
   
    h1{font-size: 45px;font-weight: 800;}
    h2{font-size: 30px;font-weight: 600;}
    h3{font-size: 20px;font-weight: 600;}
    p{font-size: 16px;font-weight: 400;}

   /* 상단 메뉴 */
    
   .headerWrap,.mobileHeaderWrap{display: none;}
   .header{display: none;}
   
   .headerWrap_tab{
       z-index: 1000;
       background: rgba(255, 255, 255, 0.7);
       width: 100%;
       position: fixed;
       left: 0;
       top: 0;
       height: 50px;
       display: flex;
       align-items: center;
       box-sizing: border-box;
   }
   .tabHeader{width: 100%;}
   .tabHeader>.inner_content{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   .tabLogo>a{
       background: url(../img/dyson_logo.svg) no-repeat 50% 50% /contain;
       display: flex;
       align-items: cover;
       height: 40px;
       width: 130px;
   }
   .menuOpen{
       display: block;
       width: 35px;
       height: 35px;
       background: url(../img/menuBar.svg) no-repeat 50% 50% / cover;
   }


   /* 2뎁스 메뉴 */
   .mainIndex_tab{
       position: fixed;
       height: 100vh;
       width: 100%;
       right: 0;
       top: 0;
       background: rgb(250,250,252);
       box-sizing: border-box;
       padding: 10px;
       transform: translateX(100%);
       transition: all 0.7s ease 0s;
   }
   .mainIndex_tab a:hover{
       color: #aaa;
   }
   .mainIndex_tab.on{
       transform: translateX(0);
   }
   .mainIndex_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
   }
   .menuClose{
       display: block;
       margin-left: auto;
       width: 40px;
       height: 40px;
       background: url(../img/closeBtn.svg) no-repeat 50% 50% / cover;
   }

   .tabGnb{
       margin-top: 25px;
       padding-left: 15px;
       position: relative;
    }
   .tabGnb>li{
       width: 270px;
       margin-bottom: 10px;
   }

   .tabGnb>li:nth-of-type(6):after{display: none;}
   .tabGnb>li>a{
       display: flex;
       height: 50px;
       align-items: center;
       font-size: 25px;
       font-weight: 600;
       width: 300px;
       position: relative;
   }
   .tabGnb>li:hover>.subMenu_tab::before{
       opacity: 1;
       pointer-events: auto;
   }
   .tabGnb>li:hover>.subMenu_tab{opacity: 1;}
   .subMenu_tab{
       position: absolute;
       left: 300px;
       top: 0;
       width: 500px;
   }
   .subMenu_tab::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-100% , 25%);
        width: 30px;
        height: 30px;
        background: url(../img/footer_arrow.svg) no-repeat 50% 50% / cover;
        opacity: 1;
        pointer-events: none;
        transition: all 0.7s ease 0s;
    }
   .subMenu_tab{
       opacity: 0;
       pointer-events: none;
       transition: all 0.7s ease 0s;
   }
   .tabGnb>li:hover>.subMenu_tab{
       opacity: 1;
       pointer-events: auto;
   }
   .subMenu_tab>li>a{
       display: flex;
       align-items: center;
       height: 40px;
       font-size: 20px;
       font-weight: 500;
   }
   .mainIndex_bottom{
        display: flex;
        margin-top: 50px;
    }
    .mainIndex_bottom>ul{height: 250px;}
    .mainIndex_bottom>ul:first-of-type{margin-right: 30px;}
   .menuLink{
       padding-left: 15px;
       font-size: 16px;
   }
   .menuLink>h6{
       color: #929292;
       font-weight: 500;
       margin-bottom: 15px;
   }
   .menuLink>li{
       padding-bottom: 5px;
       font-weight: 500;
   }


   /* 서브메뉴 */
   .subIndex{margin-top: 50px;}
   .subIndex>.inner_content{
       font-size: 16px;
       font-weight: 500;
       display: flex;
       align-items: center;
       justify-content: space-between;
       border-bottom: 1px solid #C9C9C9;
       box-sizing: border-box;
       padding: 10px 0;
   }
   .subCtg{
       font-weight: 600;
       padding-left: 10px;
   }
   .subLnb{
       display: flex;
       align-items: center;
   }
   .subLnb>li{
       margin-right: 25px;
   }
   .subLnb>li.on{
       color: #aaa;
   }
   .shopBtn{
       background: #0071E3;
       color: #fff;
       display: flex;
       align-items: center;
       justify-content: center;
       width: 90px;
       height: 30px;
       border-radius: 80px;
       margin: 0 auto;
   }
   .shopBtn:hover{filter: brightness(1.2);}

    /* 제품 비교 */
    .compare{
        margin: 30px 0 100px 0;
    }
    .compareTitle{
        margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .titleImg{
        margin: 0 10px 0px 15px;
        transform: translateY(5px);
        width: 280px;
    }
    .productFrame{
        margin: 0 auto;
        width: 90%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 45% 45%;
        column-gap: 80px;
    }
    .productIntro{
        border-bottom: 1px solid #ccc;
        text-align: center;
        margin-bottom: 50px;
        padding-bottom: 15px;
    }
    .productIntro img{
        width: 240px;
        height: 220px;
        object-fit: contain;
    }
    .event{
        color: #0071E3;
        font-weight: 500;
        font-size: 15px;
        margin: 15px 0 8px 0;
    }
    .productIntro>.price{
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .productCompare{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .productCompare>li{
        margin-bottom: 50px;
    }
    .productCompare>li:last-of-type{margin-bottom: 20px;}
    .productCompare>li>p{
        padding: 5px 0;
    }
    .productCompare img{width: 60px;}
    .appTxt{
        width: 240px;
    }



    /* 구성품 */
    .component{
        background: #f8f8f8;
        margin: 50px 0;
        padding: 50px 0;
    }
    .component h2{
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
    .package{
        margin-bottom: 30px;
    }
    .packageList{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        width: 90%;
        margin: 30px auto 0 auto;
    }
    .packageList>ul{
        box-sizing: border-box;
        padding-left: 40px;

    }
    .packageList li{padding: 8px 0;}
    
    /* 크기, 무게 */
    .size{
        display: flex;
        flex-direction: column;
    }
    .sizeFrame{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 30px 0;
        position: relative;
    }
    .sizeImg{
        width: 90%;
        margin: 0 auto;
    }
    .weight{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        font-size: 13px;
    }
    .weight>h4{
        font-weight: 600;
    }
    .weight>li{
        font-weight: 400;
    }


    /* 구매 혜택 영역 */
    .shopInfo{
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 60px;
    }
    .shopInfo>li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .infoIcon{
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 55px;
    }
    .infoIcon>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .infoFrame{text-align: center;}
    .infoTitle{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .infoTxt,.infoBtn{
        font-size: 18px;
        font-weight: 400;
    }
    .infoTxt{
        width: 210px;
        margin-top: 10px;
    }
    .infoBtn{
        font-weight: 500;
        color: #0071E3;
        position: relative;
    }
    .infoBtn:hover{
        border-bottom: 1.5px solid #0071E3;
    }
    .infoBtn::after{
        content: "";
        width: 14px;
        height: 14px;
        background: url(../img/right_arrow.svg) no-repeat;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-40%);
    }





}