@media(min-width:1024px){
    html{
        font-family: "Noto Sans KR", sans-serif;
    }

    body.on{
        height: 100vh;overflow: hidden;
    }
    /* common style */
    
    .all{
        width: 100%;
    }
    .inner_content{
        border: 1px solid red;
        width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    h1{font-size: 130px;font-weight: 900;}
    h2{font-size: 110px;font-weight: 700;}
    h3{font-size: 40px;font-weight: 700;}
    h5,p{font-size: 30px;font-weight: 500;}

    .wrap::after{
        position: fixed;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(30px);
        opacity: 0;
        pointer-events: none;
    }
    .wrap.on::after{
        opacity: 1;
    }




    /* 상단 메뉴 */
    .headerWrap_tab,.mobileHeaderWrap{display: none;}
    .headerWrap{
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000;
    }
    .header{
        position: relative;
        transition: all 0.7s ease 0s;
        height: 60px;
        background: rgba(255, 255, 255, 0.7);
    }
    .header.on{
        position: absolute;
        width: 100%;
        height: 400px;
        left: 0;
        top: 0;
        background: rgb(250,250,252);
    }
    .mainIndex{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        width: 100px;
        height: 40px;
    }
    .logo a{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .gnb{
        display: flex;
        justify-content: space-around;
        width: 985px;
        position: relative;
        font-weight: 500;
        height: 60px;
    }
    .gnb>li{flex: 1;}
    .gnb>li>a{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        font-size: 13px;
    }
    .gnb>li.on>a{color: #aaa;}
 

    /* 2뎁스 메뉴 */
    .subMenu{
        width: 100%;
        position: absolute;
        left: 20px;
        top: 60px;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        opacity: 0;
        pointer-events: none;
        transition: all 0.7s ease 0s;
    }
    .subMenu.on{
        opacity: 1;
        pointer-events: auto;
    }
    .subMenu>li{margin-right: 100px;}
    .subMenu>li:last-of-type{margin-right: 0;}
    .productMenu{
        font-size: 25px;
        font-weight: 600;
    }
    .productMenu>li{padding: 8px 0;}
    .subMenu h6{
        color: #929292;
        padding: 8px 0 15px 0;
    }   
    .menuLink>li{margin-bottom: 7px;}
    .menuLink>li:last-of-type{margin-bottom: 0;}

    .search{
        width: 20px;
        height: 20px;
    }
    .search a{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
    }


    /* 서브메뉴 */
    .subIndex{margin-top: 70px;}
    .subIndex .inner_content{
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #C9C9C9;
        box-sizing: border-box;
        padding: 15px 0;
    }
    .subCtg{
        font-weight: 600;
        padding-left: 10px;
    }
    .subLnb{
        display: flex;
        align-items: center;
    }
    .subLnb>li{
        margin-right: 35px;
    }
    .subLnb>li.on{
        color: #aaa;
    }
    .shopBtn{
        background: #495780;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 40px;
        border-radius: 40px;
    }
    .shopBtn:hover{filter: brightness(1.2);}

    /* 공기청정기 인트로 섹션 */
    .introTitle{
        margin-top: 30px;
    }

    /* 다이슨 제품 살펴보기 */
    .boxSlide{margin-top: 80px;}
    .boxStation{
        width: 100%;
        border: 1px solid blue;
        margin-top: 20px;
        height: 570px;
    }
    .boxTrain.swiper-wrapper{
        display: flex;
    }
    .boxTrain.swiper-wrapper>.swiper-slide{
        border-radius: 30px;
        border: 1px solid green;
        height: 100%;
        overflow: hidden;
        cursor: pointer;
    }
    .boxTrain.swiper-wrapper>.swiper-slide>img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .boxFrame{
        color: #fff;
        position: absolute;
        left: 40px;
        top: 35px;
    }
    .boxFrame.blackColor{
        color: black;
    }
    .boxSlide_ctrl{
        margin-left: auto;
        display: flex;
    }
    .prevBtn,.nextBtn{
        display: block;
        width: 30px;
        height: 30px;
    }
    .prevBtn>img,.nextBtn>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* 제품 비교 문구 */
    .purifyCompare{
        margin-top: 50px;
        height: 800px;
        background: url(../img/3.background.jpg) no-repeat 50% 50% / cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
    }
    .purifyCompare>.inner_content{
        text-align: center;
    }


    /* 상품 슬라이드 */
    .product{background: #000;}
    .productTitle{
        color: #fff;
    }
    .productSlide{margin: 150px 0 80px 0;}
    .productStation.swiper{
        width: 100%;
        border: 1px solid blue;
        margin-top: 20px;
        height: 310px;
        margin-bottom: 50px;
    }
    .productTrain{display: flex;}
    .productTrain.swiper-wrapper>.swiper-slide{
        border-radius: 20px;
        border: 1px solid green;
        height: 100%;
        overflow: hidden;
        cursor: pointer;
        position: relative;
    }
    .productTrain.swiper-wrapper>.swiper-slide:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
        opacity: 0;
        transition: opacity 0.5s;
    }
    .productTrain.swiper-wrapper>.swiper-slide:hover:after{
        opacity: 1;
    }
    .productTrain.swiper-wrapper>.swiper-slide>img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .productFrame{
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0;
        transform: translate(-50% , -50%);
        z-index: 100;
        pointer-events: none;
        width: 280px;
        text-align: center;
    }
    .productFrame>p{
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        word-break: keep-all;
    }
    .productTrain.swiper-wrapper>.swiper-slide:hover>.productFrame{
        opacity: 1;
    }
    
    .productBtn{
        margin-left: auto;
        width: 120px;
        padding: 6px 30px;
        color: #fff;
        border-radius: 50px;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
    }
    .productBtn:hover{
        color: #000;
        background: #fff;
        border: none;
    }

    .productBanner{
        width: 100%;
        height: 100vh;
        background: url(../img/5.banner.jpg) no-repeat 50% 50% / cover;
    }



}