@media(min-width:768px) and (max-width:1023px){
    html{
        font-family: "Noto Sans KR", sans-serif;
    }
    .all{
        width: 100%;
    }
    .inner_content{
        width: 90%;
        margin: 0 auto;
        box-sizing: border-box;
    }
    h1{font-size: 45px;font-weight: 800;}
    h2{font-size: 30px;font-weight: 600;}
    h3{font-size: 20px;font-weight: 600;}
    p{font-size: 16px;font-weight: 400;}

   /* 상단 메뉴 */
    
   .headerWrap,.mobileHeaderWrap{display: none;}
   .header{display: none;}
   
   .headerWrap_tab{
       z-index: 1000;
       background: rgba(255, 255, 255, 0.7);
       width: 100%;
       position: fixed;
       left: 0;
       top: 0;
       height: 50px;
       display: flex;
       align-items: center;
       box-sizing: border-box;
   }
   .tabHeader{width: 100%;}
   .tabHeader>.inner_content{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   .tabLogo>a{
       background: url(../1.img/1.dyson_logo.svg) no-repeat 50% 50% /contain;
       display: flex;
       align-items: cover;
       height: 40px;
       width: 130px;
   }
   .menuOpen{
       display: block;
       width: 35px;
       height: 35px;
       background: url(../1.img/1.menuBar.svg) no-repeat 50% 50% / cover;
   }


   /* 2뎁스 메뉴 */
   .mainIndex_tab{
       position: fixed;
       height: 100vh;
       width: 100%;
       right: 0;
       top: 0;
       background: rgb(250,250,252);
       box-sizing: border-box;
       padding: 10px;
       transform: translateX(100%);
       transition: all 0.7s ease 0s;
   }
   .mainIndex_tab a:hover{
       color: #aaa;
   }
   .mainIndex_tab.on{
       transform: translateX(0);
   }
   .menuClose{
       display: block;
       margin-left: auto;
       width: 40px;
       height: 40px;
       background: url(../1.img/1.closeBtn.svg) no-repeat 50% 50% / cover;
   }

   .tabGnb{
       margin-top: 25px;
       padding-left: 15px;
   }
   .tabGnb>li{
       position: relative;
       width: 270px;
       margin-bottom: 10px;
   }
   .tabGnb>li:after{
       content: "";
       position: absolute;
       right: 0;
       top: 50%;
       transform: translateY(-40%);
       width: 30px;
       height: 30px;
       background: url(../1.img/10.footer_arrow.svg) no-repeat 50% 50% / cover;
       opacity: 0;
       pointer-events: none;
       transition: all 0.7s ease 0s;
   }
   .tabGnb>li:nth-of-type(6):after{display: none;}
   .tabGnb>li>a{
       display: flex;
       height: 50px;
       align-items: center;
       font-size: 25px;
       font-weight: 600;
       width: 300px;
       position: relative;
   }
   .tabGnb>li:hover:after{
       opacity: 1;
       pointer-events: auto;
   }
   .tabGnb>li:hover>.subMenu_tab{opacity: 1;}
   .subMenu_tab{
       position: absolute;
       left: 300px;
       top: 0;
       width: 500px;
   }
   .subMenu_tab{
       opacity: 0;
       pointer-events: none;
       transition: all 0.7s ease 0s;
   }
   .tabGnb>li:hover>.subMenu_tab{
       opacity: 1;
       pointer-events: auto;
   }
   .subMenu_tab>li>a{
       display: flex;
       align-items: center;
       height: 40px;
       font-size: 20px;
       font-weight: 500;
   }
   .menuLink{
       padding-left: 15px;
       margin-top: 50px;
       font-size: 16px;
   }
   .menuLink>h6{
       color: #929292;
       font-weight: 500;
       margin-bottom: 15px;
   }
   .menuLink>li{
       padding-bottom: 5px;
       font-weight: 500;
   }


   /* 서브메뉴 */
   .subIndex{margin-top: 50px;}
   .subIndex>.inner_content{
       font-size: 16px;
       font-weight: 500;
       display: flex;
       align-items: center;
       justify-content: space-between;
       border-bottom: 1px solid #C9C9C9;
       box-sizing: border-box;
       padding: 10px 0;
   }
   .subCtg{
       font-weight: 600;
       padding-left: 10px;
   }
   .subLnb{
       display: flex;
       align-items: center;
   }
   .subLnb>li{
       margin-right: 25px;
   }
   .subLnb>li.on{
       color: #aaa;
   }
   .shopBtn{
       background: #0071E3;
       color: #fff;
       display: flex;
       align-items: center;
       justify-content: center;
       width: 90px;
       height: 30px;
       border-radius: 80px;
   }
   .shopBtn:hover{filter: brightness(1.2);}

    /* 제품 비교 */
    .compare{
        margin: 30px 0 100px 0;
    }
    .compareTitle{
        margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .titleImg{
        margin: 0 10px 0px 15px;
        transform: translateY(5px);
        width: 280px;
    }
    .productFrame{
        margin: 0 auto;
        width: 90%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 45% 45%;
        column-gap: 80px;
    }
    .productIntro{
        border-bottom: 1px solid #ccc;
        text-align: center;
        margin-bottom: 50px;
    }
    .productIntro img{
        width: 240px;
        height: 220px;
        object-fit: contain;
    }
    .event{
        color: #0071E3;
        font-weight: 500;
        font-size: 15px;
        margin: 15px 0 8px 0;
    }
    .productIntro>.price{
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .productCompare{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .productCompare>li{
        margin-bottom: 50px;
    }
    .productCompare>li:last-of-type{margin-bottom: 20px;}
    .productCompare>li>p{
        padding: 8px 0;
    }
    .appTxt{
        width: 240px;
    }



    /* 구성품 */
    .component{background: #f8f8f8;}
    .component h2{
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
    .package,.size{
        margin: 30px 0;
    }
    .packageList{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 30px;
    }
    .packageList li{padding: 8px 0;}
    
    /* 크기, 무게 */
    .size{
        display: flex;
        flex-direction: column;
    }
    .sizeFrame{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 30px 0;
        position: relative;
    }
    .sizeImg{
        width: 90%;
        margin: 0 auto;
    }
    .weight{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        font-size: 13px;
    }
    .weight>h4{
        font-weight: 600;
    }
    .weight>li{
        font-weight: 400;
    }


    /* 구매 혜택 영역 */
    .shopInfo{
        margin-top: 50px;
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 30px;
    }
    .shopInfo>li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .infoIcon{
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
    }
    .infoIcon>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .infoFrame{text-align: center;}
    .infoTitle{
        font-size: 18px;
    }
    .infoTxt,.infoBtn{
        font-size: 16px;
        font-weight: 400;
    }
    .infoTxt{
        width: 210px;
        margin: 20px 0;
    }
    .infoBtn{
        margin-top: 20px;
        font-weight: 500;
        color: #0071E3;
        position: relative;
    }
    .infoBtn:hover{
        border-bottom: 1.5px solid #0071E3;
    }
    .infoBtn::after{
        content: "";
        width: 14px;
        height: 14px;
        background: url(../1.img/8.right_arrow.svg) no-repeat;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-40%);
    }


    /* footer 상단 */
    footer{
        margin-top: 80px;
        box-sizing: border-box;
        background: #F8F8F8;
        padding: 50px 0;
    }
    .footerTop{
        font-size: 16px;
        border-bottom: 1px solid #4A4A4A;
    }
    .footCtg{
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-weight: 500;
    }
    .footCtg>li{
        margin-right: 20px;
        position: relative;
    }
    .footCtg>li:after{
        position: absolute;
        content: "";
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        background: url(../1.img/10.footer_arrow.svg) no-repeat 50% 50% / cover;
        width: 20px;
        height: 20px;
    }
    .footCtg>li:last-of-type:after{display: none;}
    .footCtg img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .footMenu{
        padding: 30px 0;
        width: 100%;
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .footMenu h6{
        font-weight: 500;
        margin-bottom: 10px;
    }
    .footMenu>ul>li{
        padding: 5px 0;
        color: #4A4A4A;
    }

    /* footer 하단 */
    .footerBottom{
        font-size: 14px;
        color: #4A4A4A;
    }
    .footInfo{
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        padding: 15px 0;
    }
    .footInfo_list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        row-gap: 10px;
    }
    .footInfo_list>li{
        margin-right: 25px;
    }
    .footInfo_list>li:last-of-type{
        margin-right: 0;
    }
    .langBtn{
        color: #0071E3;
        width: 52px;
        height: 15px;
        position: relative;
        display: block;
        transform: translateX(-20px);
    }
    .langBtn::after{
        content: "";
        width: 10px;
        height: 10px;
        background: url(../1.img/8.right_arrow.svg) no-repeat;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-20%);
    }
    .footInfo2{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .footInfo2>ul{flex: 1;}

    .footInfo2>ul>li{
        padding: 5px 0;
    }
    .infoCtg{font-weight: 500;}
    .infoNumber{display: flex;}
    .infoNumber>p{
        margin-right: 20px;
        font-size: 14px;
        font-weight: 400;
    }
    .infoNumber>p:last-of-type{margin-right: 0;}



}